canvas {

  border: 1px black solid;
  display: inline-block;
  float: left;


}

table {

  border: 1px black solid;
  display: inline-block;
  margin-left: 10px;

}

td {

padding: 10px;
border: 1px black solid;

}

#subhead {

  text-decoration: underline;

}
